# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# output files

*.mp4
!output/README.md
*.png
*.npz
*.h5
*.xdmf
*.pdf
*.mat
*.zip
# C++ build files
build
CMakeFiles
CMakeCache.txt
CMakeFiles.json